.App {
  text-align: center;
  background-color: #61dafb;
}

@font-face {
  font-family: 'pokemon-b-w';
  src: url('../public/pokemon-b-w.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}