body {
  font-family: 'pokemon-b-w', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../public/DS\ DSi\ -\ Pokemon\ Black\ White\ -\ Party\ Screen.png");
}

::-webkit-scrollbar{
  display: none;
}

.pokedex{
  width: 97%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  padding: 1em;
  gap: 20px
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 3vw;
  letter-spacing: 1vw;
  /*border: 2px solid red;*/
}

.header #pokemon_logo{
  width: 15%;
  height: 10%;
  position: absolute;
  left:1%;
  top:1%;
}

.generations{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  gap: 10px;
  padding: 10px;
  /*border: 2px solid red;*/
}

.generations button{
  background-color: lightseagreen;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
}

.pokedexdisplay{
  background-color: black;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pokemonList{
  background-color: lightseagreen;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow-y:auto;
  padding: 10px;

}

.pokedexEntrys{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
